<h1>Post List</h1>

<% if user_signed_in? %>
    <p><%= current_user.email %></p>
    <% else %>
    <% end %>

<ul>
  <% @posts.each do |post| %>
  <li>
    <%= link_to post.title, post %>
    <% if user_signed_in? %>
    <span class="author-clear"><%= post.user.email %></span>
    <% else %>
    <span class="anon-author">by Anonymous</span>
    <% end %>

  </li>
  <% end %>
</ul>

<p><%= link_to "Add a new post", new_post_path %></p>
<p><%= link_to "Sign in", user_session_path %></p>
<p><%= link_to "New User? Sign up here", new_user_registration_path %></p>

<p><%= button_to "logout", destroy_user_session_path, method: :delete  %></p>

