<h1>Post List</h1>

<p class="logged-in-user">You are logged in as:
  <% if user_signed_in? %>
    <strong><%= current_user.email %></strong>
    <% else %>
    <% end %>
</p>

<ul>
  <% @posts.each do |post| %>
  <li>
    <%= link_to post.title, post %>
    <%= render "author", :post => post %>

  </li>
  <% end %>
</ul>

<p><%= link_to "Add a new post", new_post_path %></p>
<p><%= link_to "Sign in", user_session_path %></p>
<p><%= link_to "New User? Sign up here", new_user_registration_path %></p>

<p><%= button_to "logout", destroy_user_session_path, method: :delete  %></p>

