<!DOCTYPE html>
<html>
  <head>
    <title>Shovel It</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="container">
      <div class="header">
        <ul>
          <li class="company-header"><span><%= link_to "Shovel IT", root_path %></span> <span class="company-icon"><%= image_tag "shovel-icon.png" %></span></li>
          <li class="logged-in-user">
          <% if user_signed_in? %>
            <strong><%= current_user.email %></strong>
            <% else %>
        <span><%= button_to "Sign in", user_session_path %></span>
            <% end %>
          </li>
          <li class="log-out-btn">
            <%= button_to "Logout", destroy_user_session_path, method: :delete  %>
          </li>
        </ul>
      </div>
      <div class="content-container">
        <div class="flash-message">
          <% flash.each do |name, message| %>
            <div class="<%= name %>"><%= message %></div>
        <% end %>
        </div>

        <%= yield %>
      </div>
      <div class="footer">
        <span class="link-btn"><%= link_to "Add a new post", new_post_path %></span>
        <span>Smelly Industries</span>
        <span class="link-btn"><%= link_to "Sign up here", new_user_registration_path %></span>
      </div>
    </div>
  </body>
</html>
